<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1 class="panel-title">Issue Information</h1>
      </div>
      <div class="panel-body">
        <%= form_for @issue, url: admin_movie_issues_path(params[:movie_id]), method: :post do |f|%>
        <div class="form-group">
          <%= f.label :Description %>
          <%= f.text_area :description, rows: "10", class: "form-control" %>
        </div>
          <div class="pull-right">
            <%= f.submit class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>