<span class="pull-right">
  <div style="width: 300px;">
    <% if !file == "index" %>
      <% if obj.errors.any? %>
        <% obj.errors.full_messages.each do |message| %>
        <% flash[:danger] = "#{message}" %>
            <%= bootstrap_flash %>
        <% end %>
      <% end %>
    <% else %>
     <%= bootstrap_flash %>
    <% end %>
  </div>
</span>