<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1 class="panel-title">Edit Transaction</h1>
      </div>
      <div class="panel-body">
        <%= render partial: "shared/messages", locals:{obj: @transaction} %>
        <%= render partial: "form", locals: {transaction: @transaction, url: transaction_path(page: params[:page]), methods: :put} %>
      </div>
    </div>
  </div>
</div>